body header nav .container-fluid div.collapse ul li:hover {
    background-color: rgb(211, 211, 211);
}

body main section article .row .card #comment-section{
    padding: 20px;
}

body main section article .row .card #comment-section .comment-header{
    margin-bottom: 10px;
}

body main section article .row .card #comment-section .wrapper-list-comment{
    margin-bottom: 10px;
}

body main section article .row .card #comment-section .wrapper-list-comment .list-comment{
    display: flex;
}

body main section article .row .card #comment-section .wrapper-list-comment .list-comment #comment-name{
    font-weight: bold;
    margin-right: 10px;
}

body main section article .row .card #comment-section #form-comment{
    margin-top: 10px;
    padding-top: 15px;
    border-top: 2px solid #dddddd;
}

body main section article .row .card #comment-section #form-comment label{
    margin-top: 10px;
}

body main section article .row .card #comment-section #form-comment input{
    border: 0;
    border-bottom: 1px solid #dddddd;
}

body main section article .row .sd-br h2 {
    text-align: center;
    font-family: 'Patrick Hand';
    font-size: 36px;
}

body main section article .row .sd-br h3 {
    font-family: 'Patrick Hand';
    font-size: 18px;
    text-align: center;
    font-weight: 800;
}

body main section article .row .sd-br ul li a {
    text-decoration: none;
    color: black;
}

body main section article .row .sd-br ul li a:hover {
    color: blue;
}

body footer .ftr-clr {
    background-color: rgb(245, 241, 241);
}

body footer .ftr-clr .row .ftr-bks .row .ftr-rght .smd-img a {
    text-decoration: none;
    margin-left: 5px;
    color: black;
}

body footer .ftr-clr .row .ftr-bks .row .ftr-rght .smd-img a:hover {
    color: blue;
}

body footer .ftr-clr .row .bg-wht {
    background-color: white;
}

body footer .ftr-clr .row .container .img-cntr {
    text-align: center;
}

body footer .ftr-clr .row .container h4 {
    font-family: Helvetica;
    text-align: center;
}

body footer .ftr-clr .row .container p {
    font-family: Helvetica;
    text-align: center;
}

body footer .ftr-clr .row .container p span {
    color: greenyellow;
}

body footer .ftr-clr .row .container h5 {
    font-family: 'Patrick Hand';
    font-size: 18px;
    padding: 10px;
}

body footer .ftr-clr .row .container .almt {
    list-style-type: none;
}

body footer .ftr-clr .row .Copyright {
    background-color: white;
    text-align: center;
}

body main section article .dtl-pst h1 {
    font-family: 'Patrick Hand';
    margin: 0;
}

body main section article .dtl-pst p {
    margin: 0;
    padding-top: 4px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.596);
}

body main section article .dtl-pst p img {
    margin-bottom: 6px;
}

body main section article .dtl-pst p img.img-mrg {
    margin-bottom: 1px;
}

body main section article .row .card .card-body p {
    text-align: justify;
    font-size: 18px;
}

body main section article .row .card .card-body p strong {
    font-size: 22px;
    margin-left: 10px;
}
